@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@600;700;800&display=swap");
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #F8FAFC;
  color: #1F2937;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #00246B;
  color: white;
}